/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#050510;
  color:#ffffff;
  overflow-x:hidden;
}

/* HERO SECTION */
.hero{
  width:100%;
  min-height:100vh;
  padding:40px 8%;
  position:relative;
  overflow:hidden;

  background:
  radial-gradient(circle at center, rgba(128,0,255,0.18), transparent 35%),
  linear-gradient(to bottom, #070711, #04040a);
}

/* GLOW EFFECT */
.hero::before{
  content:"";
  position:absolute;
  width:550px;
  height:550px;
  background:radial-gradient(circle, rgba(139,92,246,0.45), transparent 70%);
  top:50%;
  left:55%;
  transform:translate(-50%,-50%);
  filter:blur(35px);
  z-index:0;
}

/* NAVBAR */
.navbar{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:70px;
  position:relative;
  z-index:2;
}

.logo{
  font-size:28px;
  font-weight:700;
  color:#ffffff;
}

.logo span{
  color:#9f5cff;
}

/* NAV LINKS */
.nav-links{
  display:flex;
  gap:35px;
  padding:14px 30px;
  border-radius:18px;

  background:rgba(255,255,255,0.04);
  border:1px solid rgba(255,255,255,0.08);

  backdrop-filter:blur(10px);
}

.nav-links a{
  text-decoration:none;
  color:#d1d1d1;
  font-size:14px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#9f5cff;
}

/* HIRE BUTTON */
.hire-btn{
  padding:12px 24px;
  border:none;
  border-radius:12px;
  cursor:pointer;

  background:linear-gradient(135deg,#a855f7,#7c3aed);
  color:#ffffff;

  font-weight:600;

  transition:0.3s;
  box-shadow:0 0 20px rgba(139,92,246,0.4);
}

.hire-btn:hover{
  transform:translateY(-2px);
}

/* HERO CONTENT */
.hero-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:60px;

  position:relative;
  z-index:2;
}

/* LEFT CONTENT */
.left-content{
  flex:1;
}

.small-title{
  color:#9f5cff;
  font-size:14px;
  letter-spacing:4px;
  margin-bottom:20px;
}

.hero-title{
  font-size:72px;
  line-height:1.1;
  font-weight:800;
  margin-bottom:25px;
}

.hero-title span{
  color:#9f5cff;
}

.hero-desc{
  max-width:550px;
  color:#b6b6c5;
  line-height:1.8;
  margin-bottom:35px;
}

/* BUTTONS */
.hero-buttons{
  display:flex;
  gap:20px;
}

.primary-btn{
  padding:15px 35px;
  border:none;
  border-radius:14px;
  cursor:pointer;

  background:linear-gradient(135deg,#a855f7,#7c3aed);
  color:#ffffff;

  font-weight:600;

  transition:0.3s;
  box-shadow:0 0 20px rgba(168,85,247,0.4);
}

.primary-btn:hover{
  transform:translateY(-3px);
}

.secondary-btn{
  padding:15px 35px;
  border-radius:14px;
  border:1px solid rgba(255,255,255,0.15);

  background:transparent;
  color:#ffffff;

  cursor:pointer;
  transition:0.3s;
}

.secondary-btn:hover{
  border-color:#9f5cff;
  color:#9f5cff;
}

/* RIGHT CONTENT */
.right-content{
  flex:1;
  display:flex;
  justify-content:center;
}

.image-wrapper{
  position:relative;
  width:430px;
  height:550px;
}

.image-wrapper::before{
  content:"";
  position:absolute;
  width:420px;
  height:420px;

  background:radial-gradient(circle, rgba(168,85,247,0.6), transparent 70%);

  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  filter:blur(20px);
}

.hero-img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:25px;
  position:relative;
  z-index:2;

  display:block;
  margin:0 auto;
}


/* FLOATING CARD */
.floating-card{
  position:absolute;
  bottom:30px;
  left:-30px;

  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.08);

  backdrop-filter:blur(10px);

  padding:18px 22px;
  border-radius:18px;

  z-index:3;
}

.floating-card h3{
  font-size:28px;
  color:#9f5cff;
}

.floating-card p{
  font-size:14px;
  color:#d1d1d1;
  margin-top:5px;
}

/* RESPONSIVE */
@media(max-width:1024px){

  .hero-content{
    flex-direction:column;
    text-align:center;
  }

  .hero-buttons{
    justify-content:center;
  }

  .hero-desc{
    margin:auto auto 35px;
  }

  .hero-title{
    font-size:55px;
  }
}

@media(max-width:768px){

  .nav-links{
    display:none;
  }

  .hero-title{
    font-size:42px;
  }

  .image-wrapper{
    width:320px;
    height:420px;
  }

  .hero{
    padding:30px 6%;
  }
}
/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:#050510;
  color:#ffffff;
}

/* ================= EXPERTISE ================= */

.expertise {
    width: 88%;
    margin: 40px auto 70px;
}

.expertise-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 18px;
    margin-top: 28px;
}

.expertise-box {
    height: 68px;

    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background: #050505;
}

.expertise-box i {
    color: #9b5cff;
    font-size: 20px;
}

.expertise-box span {
    font-size: 17px;
    color: #f2f2f2;
    white-space: nowrap;
}

/* ================= RESPONSIVE ================= */

@media(max-width:1600px) {

    .about-left h1 {
        font-size: 85px;
    }

    .tools-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .expertise-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:1100px) {

    nav {
        display: none;
    }

    .about-section {
        flex-direction: column;
    }

    .about-left,
    .about-right {
        width: 100%;
    }

    .tools-grid {
        grid-template-columns: 1fr;
    }

    .expertise-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-left h1 {
        font-size: 52px;
    }
}

@media(max-width:700px) {

    .navbar {
        padding: 0 24px;
    }

    .nav-btn {
        display: none;
    }

    .logo {
        font-size: 48px;
    }

    .about-left h1 {
        font-size: 40px;
    }

    .about-text p {
        font-size: 18px;
    }

    .expertise-grid {
        grid-template-columns: 1fr;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #050505;
    color: #fff;
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background:
        radial-gradient(circle at top, #4d1fff33 0%, transparent 30%),
        radial-gradient(circle at center, #7c3aed22 0%, transparent 35%);
    z-index: -1;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/* ABOUT SECTION */
.about-section{
  width:100%;
  padding:100px 8%;
  background:#050510;
  position:relative;
  overflow:hidden;
}

/* CONTAINER */
.about-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:70px;
}

/* LEFT IMAGE */
.about-image{
  flex:1;
  display:flex;
  justify-content:center;
}

.image-card{
  width:380px;
  height:500px;
  position:relative;
  border-radius:24px;
  overflow:hidden;
}

.image-card::before{
  content:"";
  position:absolute;
  width:400px;
  height:400px;
  background:radial-gradient(circle, rgba(139,92,246,0.45), transparent 70%);
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  filter:blur(25px);
  z-index:0;
}

.image-card img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:24px;
  position:relative;
  z-index:2;
}

/* RIGHT CONTENT */
.about-content{
  flex:1;
}

.section-subtitle{
  color:#9f5cff;
  font-size:14px;
  letter-spacing:3px;
  margin-bottom:20px;
}

.about-title{
  font-size:54px;
  line-height:1.2;
  font-weight:800;
  margin-bottom:25px;
}

.about-title span{
  color:#9f5cff;
}

.about-text{
  color:#b6b6c5;
  line-height:1.9;
  max-width:600px;
  margin-bottom:35px;
}

/* STATS */
.about-stats{
  display:flex;
  gap:20px;
  margin-bottom:35px;
}

.stat-box{
  padding:22px 26px;
  border-radius:18px;

  background:rgba(255,255,255,0.04);
  border:1px solid rgba(255,255,255,0.08);

  backdrop-filter:blur(10px);

  min-width:150px;
}

.stat-box h3{
  color:#9f5cff;
  font-size:34px;
  margin-bottom:8px;
}

.stat-box p{
  color:#d2d2dc;
  font-size:14px;
}

/* BUTTON */
.resume-btn{
  padding:15px 32px;
  border:none;
  border-radius:14px;

  display:block;
  margin-left:0;      /* align left */
  margin-right:auto;

  background:linear-gradient(135deg,#a855f7,#7c3aed);
  color:#ffffff;

  font-weight:600;
  cursor:pointer;

  transition:0.3s;
  box-shadow:0 0 20px rgba(168,85,247,0.35);

  margin-bottom:50px;
}

.resume-btn:hover{
  transform:translateY(-3px);
}

/* TOOLS */
.tools-container{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.tool-card{
  width:120px;
  height:120px;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:12px;

  border-radius:20px;

  background:rgba(255,255,255,0.04);
  border:1px solid rgba(255,255,255,0.08);

  transition:0.3s;
}

.tool-card:hover{
  transform:translateY(-6px);
  border-color:#9f5cff;
}

.tool-card img{
  width:45px;
  height:45px;
  object-fit:contain;
}

.tool-card p{
  font-size:14px;
  color:#d6d6e2;
}

/* RESPONSIVE */
@media(max-width:1024px){

  .about-container{
    flex-direction:column;
    text-align:center;
  }

  .about-stats{
    justify-content:center;
    flex-wrap:wrap;
  }

  .tools-container{
    justify-content:center;
  }

  .about-text{
    margin:auto auto 35px;
  }
}

@media(max-width:768px){

  .about-title{
    font-size:38px;
  }

  .image-card{
    width:320px;
    height:420px;
  }

  .tool-card{
    width:100px;
    height:100px;
  }
}
/* WORK SECTION */
.work-section{
  width:100%;
  padding:100px 8%;
  background:#050510;
  color:#ffffff;
}

/* HEADER */
.section-header{
  margin-bottom:40px;
}

.section-subtitle{
  color:#9f5cff;
  font-size:14px;
  letter-spacing:3px;
  margin-bottom:18px;
}

.section-title{
  font-size:58px;
  font-weight:800;
  line-height:1.1;
}

.section-title span{
  color:#9f5cff;
}

/* FILTERS */
.work-filters{
  display:flex;
  gap:18px;
  margin-bottom:50px;
  flex-wrap:wrap;
}

.filter-btn{
  padding:12px 24px;
  border:none;
  border-radius:40px;
  background:rgba(255,255,255,0.05);
  color:#d6d6e2;
  cursor:pointer;
  transition:0.3s;
  border:1px solid rgba(255,255,255,0.08);
}

.filter-btn:hover,
.filter-btn.active{
  background:linear-gradient(135deg,#a855f7,#7c3aed);
  color:#ffffff;
  box-shadow:0 0 20px rgba(168,85,247,0.3);
}

/* GRID */
.projects-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

/* CARD */
.project-card{
  background:rgba(255,255,255,0.03);
  border:1px solid rgba(255,255,255,0.08);
  border-radius:24px;
  overflow:hidden;
  transition:0.4s;
  cursor:pointer;
}

.project-card:hover{
  transform:translateY(-10px);
  border-color:#9f5cff;
  box-shadow:0 0 25px rgba(168,85,247,0.2);
}

/* IMAGE */
.project-image{
  width:100%;
  height:420px;
  overflow:hidden;
}

.project-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:0.4s;
}

.project-card:hover .project-image img{
  transform:scale(1.08);
}

/* CONTENT */
.project-content{
  padding:24px;
}

.project-content h3{
  font-size:24px;
  margin-bottom:10px;
  font-weight:700;
}

.project-content p{
  color:#b8b8c7;
  font-size:15px;
}

/* BUTTON */
.work-btn-container{
  display:flex;
  justify-content:center;
  margin-top:60px;
}

.view-btn{
  padding:16px 34px;
  border:none;
  border-radius:14px;
  cursor:pointer;

  background:linear-gradient(135deg,#a855f7,#7c3aed);
  color:#ffffff;

  font-weight:600;
  font-size:15px;

  transition:0.3s;
  box-shadow:0 0 20px rgba(168,85,247,0.3);
}

.view-btn:hover{
  transform:translateY(-3px);
}

/* RESPONSIVE */
@media(max-width:1024px){

  .projects-grid{
    grid-template-columns:repeat(2,1fr);
  }

  .section-title{
    font-size:48px;
  }
}

@media(max-width:768px){

  .projects-grid{
    grid-template-columns:1fr;
  }

  .section-title{
    font-size:38px;
  }

  .work-filters{
    justify-content:center;
  }

  .section-header{
    text-align:center;
  }
}
.contact-section{
  width:100%;
  min-height:100vh;
  padding:90px 90px 120px;
  position:relative;
  overflow:hidden;
}

/* ================= GLOW ================= */

.contact-glow{
  width:420px;
  height:420px;

  position:absolute;
  top:30px;
  left:50%;
  transform:translateX(-50%);

  background:#8b45ff;
  opacity:0.22;

  filter:blur(170px);

  z-index:-1;
}

/* ================= TOP ================= */

.top-content{
  text-align:center;
  margin-bottom:90px;
}

.top-content h1{
  font-size:120px;
  font-weight:900;
  letter-spacing:-5px;
  margin-bottom:20px;
}

.breadcrumb{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:16px;
}

.breadcrumb span{
  color:#cfcfcf;
  font-size:17px;
}

.breadcrumb .active{
  color:#9b5cff;
}

.dot{
  width:5px;
  height:5px;
  border-radius:50%;
  background:#8b45ff;
}

/* ================= GRID ================= */

.contact-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:100px;
  align-items:flex-start;
}

/* ================= LEFT ================= */

.tag{
  color:#9b5cff;
  font-size:13px;
  font-weight:600;
  letter-spacing:1px;
  margin-bottom:26px;
}

.left-side h2{
  font-size:55px;
  line-height:1;
  font-weight:250px;
  letter-spacing:-3px;
  margin-bottom:15px;
}

.left-side h2 span{
  color:#8b45ff;
}

.description{
  max-width:600px;

  color:#cfcfcf;
  font-size:15px;
  line-height:1.9;

  margin-bottom:42px;
}

.message-btn{
  height:20px;
  padding:0 32px;

  border:1px solid #8b45ff;
  border-radius:14px;

  background:transparent;
  color:#ffffff;

  font-size:15px;
  font-weight:700;

  display:flex;
  align-items:center;
  gap:14px;

  cursor:pointer;
  transition:0.3s;
}

.message-btn:hover{
  background:#8b45ff;
}

/* ================= RIGHT ================= */

.info-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:34px 46px;
}

.info-box{
  display:flex;
  gap:20px;

  padding-bottom:28px;

  border-bottom:1px solid rgba(255,255,255,0.08);
}

.icon-box{
  width:62px;
  height:62px;

  border:1px solid #8b45ff;
  border-radius:16px;

  display:flex;
  align-items:center;
  justify-content:center;

  color:#9b5cff;
  font-size:22px;

  flex-shrink:0;
}

.info-content h4{
  color:#9b5cff;
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}

.info-content p{
  color:#ffffff;
  font-size:20px;
  line-height:1.7;
}

/* ================= SOCIAL ================= */

.social-section{
  margin-top:52px;
}

.social-section h5{
  color:#9b5cff;
  font-size:14px;
  font-weight:700;
  letter-spacing:1px;
  margin-bottom:24px;
}

.social-icons{
  display:flex;
  gap:18px;
}

.social-icons a{
  width:58px;
  height:58px;

  border:1px solid rgba(255,255,255,0.08);
  border-radius:14px;

  display:flex;
  align-items:center;
  justify-content:center;

  color:#ffffff;
  text-decoration:none;

  font-size:20px;

  transition:0.3s;
}

.social-icons a:hover{
  border-color:#8b45ff;
  color:#8b45ff;
  transform:translateY(-4px);
}

/* ================= RESPONSIVE ================= */

@media(max-width:1200px){

  .top-content h1{
    font-size:90px;
  }

  .left-side h2{
    font-size:52px;
  }

  .description{
    font-size:20px;
  }
}

@media(max-width:992px){

  .contact-grid{
    grid-template-columns:1fr;
    gap:80px;
  }

  .info-grid{
    grid-template-columns:1fr;
  }

  .top-content h1{
    font-size:70px;
  }
}

@media(max-width:768px){

  .contact-section{
    padding:70px 24px 100px;
  }

  .top-content h1{
    font-size:54px;
  }

  .left-side h2{
    font-size:38px;
  }

  .description{
    font-size:17px;
  }

  .info-content p{
    font-size:17px;
  }

  .contact-glow{
    width:250px;
    height:250px;
  }
}